header {
    width: 100%;
    margin: 10px;
}

#quiz-box {
    margin: 60px;
    padding: 60px;
    border-radius: 10px;
    height: 700px;
}

.btn {
    margin: 10px;
    width: 200px;
}

.btn:hover {
    background-color: rgb(52, 52, 52);
    text-decoration-color: whitesmoke;
    border-color: whitesmoke;
}

h1 {
    margin: 20px;
    text-align: center;
}

h2, p {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}